html{
  font-family: 'Roboto', Arial, sans-serif;
  font-family: 'VT323', Courier, monospace;
  --primary:#40363D;
  --primary-highlight: #736573;
  --primary-dark:#000000;
  --secondary: #788C30;
  --secondary-highlight: #B3BF56;
  --secondary-dark: #000000;
  --tertiary: #3366BB;
  --tertiary-highlight: #ffffff;
  --tertiary-dark: #68788C;
  --neutral: #c2c2c2;

  --backdrop: #1a2530;
  --text: #ffffff;

}
*{
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text);
  margin: auto;
}
body{/*general rules*/
  padding: none;
  font-family: 'Roboto',Arial, sans-serif;
  background: linear-gradient(270deg, var(--backdrop) 0%, var(--neutral) 100%);
  font-size: 1.5em;
  color: var(--text);
  max-width: 1248px;
  margin:auto
}

/***
      NAVIGATION
 ***/
.navBar{/*Bar at the top of the page*/
  font-family: 'VT323',Courier,monospace;
  background: var(--primary);
  color: var(--text);
  text-align: center;

  display:flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item{/*Logo,Nav,and Profiles*/
  flex-basis:30%;
  line-height:100%;
}
.nav-list{/*Menu Lists*/
  margin: 0;
  padding: 0;
  background-color: var(--primary-highlight);
  border: solid var(--primary) 5px;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
}
.nav-list ol{/*Hidden Menu*/
  visibility: hidden;
  display: block;
  margin-top:61px;

  position: fixed;
  flex-flow: column;
}
.nav-list li{
  padding: 16px;
  line-height: 100%;
}
.nav-list li a{
  background-color: var(--secondary);
  line-height: 100%;
  padding: inherit;
}
.nav-list li a:hover{
  background-color: var(--secondary-highlight);
  line-height: 100%;
  padding: inherit;
}
.logo{
  text-align: left;
}
.logo em{
  font-size: 0.5em;
}
.profiles{
  flex-wrap: nowrap;
  margin: auto;
  text-align: end;
}
/***
      ARTICLE
 ***/
.article-body{
  background-color: var(--neutral);
  border: solid var(--primary) 5px;
  padding:32px 10%;
}
.article-body *{
  color:var(--primary-dark);
}
.article-body p, .article-body pre{
  color:var(--primary-dark);
  line-height: 1.5em;
  margin: 16px;
  text-align: left;
}
.article-body q{
  font-style: italic;
  line-height: 2em;
}
.article-body del{
  text-decoration: line-through;
}
.article-body img{
  width: 30%;
}
.article-body code{
  line-height: 1em;
  background-color: var(--tertiary-highlight);
  word-wrap: break-word;
}
.article-body a{
  color:var(--tertiary);
}
.article-body a:hover{
  text-decoration: underline;
}

/***
      Library
 ***/
#library{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#library li{
  margin: 16px;
}
#library a{
  border: outset var(--primary) 16px;
  display: inline-block;
  width: 240px;
  height: 240px;
  padding-top: 30px;
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: underline;
  background-size: 100%;
  color: rgba(0,0,0, 0);
}
#library a:hover{
  background-size: 0%;
  border: outset var(--secondary) 16px;
  color: rgb(0,0,0);
}

/***
      FOOTER
 ***/
footer{
  background-color: var(--primary);
  text-align: center;
}
footer a{
  text-decoration: underline;
  background-color: var(--primary);
  text-align: center;
} 


/*MEDIA QUERIES*/
@media only screen and (max-width: 600px) {
  .navBar{
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.center{
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  width: 960px;
  height:640px;
  padding: 10px;
  background-color: var(--tertiary-dark);
}

/*LEGACY UNITY PROJECTS*/
.webgl-content {position: absolute;}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('/res/favicon.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('/res/webGL/progress-bar-light.png') no-repeat right / cover; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('/res/webGL/progress-bar-light.png') no-repeat left / cover; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('/res/favicon.png');}
.webgl-content .progress.Dark .empty {background-image: url('/res/webGL/progress-bar-empty-Light.png');}
.webgl-content .progress.Dark .full {background-image: url('/res/webGL/progress-bar-light.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('/res/webGL/webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {font-family: 'Roboto',sans-serif;margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('/res/webGL/fullscreen-button.png'); width: 38px; float: right;}
